# Python files
__pycache__/
*.pyc
*.pyd
*.egg-info
*.so

# File generated during tests
testSerial.dat

# Build directory
build/
dist/

# Eclipse build directory
.settings/
Debug/
Release/
bin/
classes/

